---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="jostomprint_contenedor">
    <header>
      <h1 id="jostomprint__encabezado">jostom print</h1>
    </header>
  </div>
</Layout>
