<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  /* OTF */
  @font-face {
    font-family: "EticaMono";
    src: url("/fonts/LFT_Etica_Mono_Semibold.otf");
    font-weight: 600;
    font-style: normal;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100vw; /* ancho total de la ventana */
    height: 100vh; /* alto total de la ventana */
    overflow-x: hidden; /* evita scroll horizontal */
    box-sizing: border-box;
    font-family: "EticaMono", sans-serif;
  }

  main {
    width: 100%;
    min-height: 100vh;
  }
</style>
